a {
  color: #11999E;
}


body {
  margin:0;  /* tutti e 4 i margini, sovrascrive browser default */
  text-align: center;
  background-color: white;

  font-family: 'Merriweather', serif;

}


.top-container {
 background-color: #e6ffff;
  position: relative;
  padding-top: 100px;


}

h1 {
color: #66BFBF;
font-size: 90px;
line-height: 1.5;
margin: 50px 0 auto 0;
/* position: relative;
top: 50px; */
font-family: 'Sacramento', cursive;

}

h2 {
color: #66BFBF;
font-weight: normal;
font-family: 'Merriweather';
font-size: 2rem;

}
h3 {
color: #11999E;
font-family: 'Merriweather';
margin-bottom: 20px;
}

.destra {
  text-align: right;
}

.testo-sotto {

  text-align: right;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.lavatrice {
  width: 15%;
  float: left;
  margin-right: 30px;

}

.ventilatore {
  width: 25%;
  float: right;
  margin-left: 20px;
  /* margin-left: 30px; */
}

.middle-container {
background-color: white;
  }

.bottom-container {

}

.BUTTON_MGR {
   background: #3D94F6;
   background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: Garamond;
   font-size: 25px;
   font-weight: 100;
   padding: 18px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.BUTTON_MGR:hover {
   border: solid #337FED 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
